fastapi
uvicorn
sqlalchemy
python-dateutil
python-dotenv
google-auth-oauthlib
google-api-python-client
google-cloud-documentai
google-cloud-vision
openai
PyPDF2
pdfplumber
pytesseract
pdf2image
python-docx
fuzzywuzzy
python-multipart
pillow
opencv-python
numpy
